In [9]:
# data

company_name_list = [{'name': 'Company 1'},
          {'name': 'Company 2'},
          {'name': 'Company 3'}]

employee_name_list = [{'name': 'John Doe'},
          {'name': 'Tom Smith'},
          {'name': 'Andrew Sebastian'}]

company_detail_list = {
      'Company 1': {
          'name': 'Company 1',
          'domain': 'Retail',
          'clients': [
              {
                  'name': 'acme.inc',
                  'country': 'united states'
              },
              {
                  'name': 'Wayne.co',
                  'country': 'united states'
              }
          ]
      },
      'Company 2': {
          'name': 'Company 2',
          'domain': 'Construction',
          'clients': [
              {
                  'name': 'Tesla',
                  'country': 'united states'
              },
              {
                  'name': 'Japan Airlines',
                  'country': 'japan'
              },
              {
                  'name': 'Indofood',
                  'country': 'indonesia'
              }
          ]
      },
      'Company 3': {
          'name': 'Company 3',
          'domain': 'Healthcare',
          'clients': [
              {
                  'name': 'Petronas',
                  'country': 'malaysia'
              },
              {
                  'name': 'VW Group',
                  'country': 'germany'
              },
              {
                  'name': 'IBM',
                  'country': 'united states'
              },
              {
                  'name': 'Mitsubishi',
                  'country': 'japan'
              }
          ]
      }
  }

employee_detail_list = {
      'John Doe': {
          'name': 'EMP-0001',
          'first_name': 'John',
          'last_name': 'Doe',
          'full_name': 'John Doe',
          'company': 'Company 1'
      },
      'Tom Smith': {
          'name': 'EMP-0002',
          'first_name': 'Tom',
          'last_name': 'Smith',
          'full_name': 'Tom Smith',
          'company': 'Company 2'
      },
      'Andrew Sebastian': {
          'name': 'EMP-0003',
          'first_name': 'Andrew',
          'last_name': 'Sebastian',
          'full_name': 'Andrew Sebastian',
          'company': 'Company 2'
      },
  }

# lengkapi function berikut
def sort_company():
    a = sorted((list(company_detail_list.values())), key=lambda x: x["domain"], reverse=True)
    for item in a:
        del item["clients"]
    print(a)
    pass

# lengkapi function berikut
def get_company_domain():
    for item in list(company_detail_list.values()):
        print(item["name"] + ": " + item["domain"] + ", relation: " + str(len(item["clients"])) + " clients" ) 
    pass

# lengkapi function berikut
def get_employees():
    arr = []
    for item in list(employee_detail_list.values()):
        company = company_detail_list[item["company"]]
        arr.append({
            "full_name" : item["full_name"],
            "company" : item["company"],
            "domain" : company["domain"]
        })
    return arr
    pass

# lengkapi function berikut
def get_employees_by_company():
    arr = []
    for item in list(company_detail_list.values()):
        employees = []
        for emp in get_employees():
            if emp["company"] == item["name"]:
                employees.append(emp["full_name"])
                
        arr.append({
            "company" : item["name"],
            "employees" : employees
        })
        
    print(arr)
    pass
#soal 1
sort_company()
# get_company_domain()
# print(get_employees())
# get_employees_by_company()

[{'name': 'Company 1', 'domain': 'Retail'}, {'name': 'Company 3', 'domain': 'Healthcare'}, {'name': 'Company 2', 'domain': 'Construction'}]

In [10]:
# data

company_name_list = [{'name': 'Company 1'},
          {'name': 'Company 2'},
          {'name': 'Company 3'}]

employee_name_list = [{'name': 'John Doe'},
          {'name': 'Tom Smith'},
          {'name': 'Andrew Sebastian'}]

company_detail_list = {
      'Company 1': {
          'name': 'Company 1',
          'domain': 'Retail',
          'clients': [
              {
                  'name': 'acme.inc',
                  'country': 'united states'
              },
              {
                  'name': 'Wayne.co',
                  'country': 'united states'
              }
          ]
      },
      'Company 2': {
          'name': 'Company 2',
          'domain': 'Construction',
          'clients': [
              {
                  'name': 'Tesla',
                  'country': 'united states'
              },
              {
                  'name': 'Japan Airlines',
                  'country': 'japan'
              },
              {
                  'name': 'Indofood',
                  'country': 'indonesia'
              }
          ]
      },
      'Company 3': {
          'name': 'Company 3',
          'domain': 'Healthcare',
          'clients': [
              {
                  'name': 'Petronas',
                  'country': 'malaysia'
              },
              {
                  'name': 'VW Group',
                  'country': 'germany'
              },
              {
                  'name': 'IBM',
                  'country': 'united states'
              },
              {
                  'name': 'Mitsubishi',
                  'country': 'japan'
              }
          ]
      }
  }

employee_detail_list = {
      'John Doe': {
          'name': 'EMP-0001',
          'first_name': 'John',
          'last_name': 'Doe',
          'full_name': 'John Doe',
          'company': 'Company 1'
      },
      'Tom Smith': {
          'name': 'EMP-0002',
          'first_name': 'Tom',
          'last_name': 'Smith',
          'full_name': 'Tom Smith',
          'company': 'Company 2'
      },
      'Andrew Sebastian': {
          'name': 'EMP-0003',
          'first_name': 'Andrew',
          'last_name': 'Sebastian',
          'full_name': 'Andrew Sebastian',
          'company': 'Company 2'
      },
  }

# lengkapi function berikut
def sort_company():
    a = sorted((list(company_detail_list.values())), key=lambda x: x["domain"], reverse=True)
    for item in a:
        del item["clients"]
    print(a)
    pass

# lengkapi function berikut
def get_company_domain():
    for item in list(company_detail_list.values()):
        print(item["name"] + ": " + item["domain"] + ", relation: " + str(len(item["clients"])) + " clients" ) 
    pass

# lengkapi function berikut
def get_employees():
    arr = []
    for item in list(employee_detail_list.values()):
        company = company_detail_list[item["company"]]
        arr.append({
            "full_name" : item["full_name"],
            "company" : item["company"],
            "domain" : company["domain"]
        })
    return arr
    pass

# lengkapi function berikut
def get_employees_by_company():
    arr = []
    for item in list(company_detail_list.values()):
        employees = []
        for emp in get_employees():
            if emp["company"] == item["name"]:
                employees.append(emp["full_name"])
                
        arr.append({
            "company" : item["name"],
            "employees" : employees
        })
        
    print(arr)
    pass

# sort_company()
# Soal 2
get_company_domain()
# print(get_employees())
# get_employees_by_company()

Company 1: Retail, relation: 2 clients
Company 2: Construction, relation: 3 clients
Company 3: Healthcare, relation: 4 clients

In [11]:
# data

company_name_list = [{'name': 'Company 1'},
          {'name': 'Company 2'},
          {'name': 'Company 3'}]

employee_name_list = [{'name': 'John Doe'},
          {'name': 'Tom Smith'},
          {'name': 'Andrew Sebastian'}]

company_detail_list = {
      'Company 1': {
          'name': 'Company 1',
          'domain': 'Retail',
          'clients': [
              {
                  'name': 'acme.inc',
                  'country': 'united states'
              },
              {
                  'name': 'Wayne.co',
                  'country': 'united states'
              }
          ]
      },
      'Company 2': {
          'name': 'Company 2',
          'domain': 'Construction',
          'clients': [
              {
                  'name': 'Tesla',
                  'country': 'united states'
              },
              {
                  'name': 'Japan Airlines',
                  'country': 'japan'
              },
              {
                  'name': 'Indofood',
                  'country': 'indonesia'
              }
          ]
      },
      'Company 3': {
          'name': 'Company 3',
          'domain': 'Healthcare',
          'clients': [
              {
                  'name': 'Petronas',
                  'country': 'malaysia'
              },
              {
                  'name': 'VW Group',
                  'country': 'germany'
              },
              {
                  'name': 'IBM',
                  'country': 'united states'
              },
              {
                  'name': 'Mitsubishi',
                  'country': 'japan'
              }
          ]
      }
  }

employee_detail_list = {
      'John Doe': {
          'name': 'EMP-0001',
          'first_name': 'John',
          'last_name': 'Doe',
          'full_name': 'John Doe',
          'company': 'Company 1'
      },
      'Tom Smith': {
          'name': 'EMP-0002',
          'first_name': 'Tom',
          'last_name': 'Smith',
          'full_name': 'Tom Smith',
          'company': 'Company 2'
      },
      'Andrew Sebastian': {
          'name': 'EMP-0003',
          'first_name': 'Andrew',
          'last_name': 'Sebastian',
          'full_name': 'Andrew Sebastian',
          'company': 'Company 2'
      },
  }

# lengkapi function berikut
def sort_company():
    a = sorted((list(company_detail_list.values())), key=lambda x: x["domain"], reverse=True)
    for item in a:
        del item["clients"]
    print(a)
    pass

# lengkapi function berikut
def get_company_domain():
    for item in list(company_detail_list.values()):
        print(item["name"] + ": " + item["domain"] + ", relation: " + str(len(item["clients"])) + " clients" ) 
    pass

# lengkapi function berikut
def get_employees():
    arr = []
    for item in list(employee_detail_list.values()):
        company = company_detail_list[item["company"]]
        arr.append({
            "full_name" : item["full_name"],
            "company" : item["company"],
            "domain" : company["domain"]
        })
    return arr
    pass

# lengkapi function berikut
def get_employees_by_company():
    arr = []
    for item in list(company_detail_list.values()):
        employees = []
        for emp in get_employees():
            if emp["company"] == item["name"]:
                employees.append(emp["full_name"])
                
        arr.append({
            "company" : item["name"],
            "employees" : employees
        })
        
    print(arr)
    pass

# sort_company()
# get_company_domain()
# Soal 3
print(get_employees())
# get_employees_by_company()

[{'full_name': 'John Doe', 'company': 'Company 1', 'domain': 'Retail'}, {'full_name': 'Tom Smith', 'company': 'Company 2', 'domain': 'Construction'}, {'full_name': 'Andrew Sebastian', 'company': 'Company 2', 'domain': 'Construction'}]

In [12]:
# data

company_name_list = [{'name': 'Company 1'},
          {'name': 'Company 2'},
          {'name': 'Company 3'}]

employee_name_list = [{'name': 'John Doe'},
          {'name': 'Tom Smith'},
          {'name': 'Andrew Sebastian'}]

company_detail_list = {
      'Company 1': {
          'name': 'Company 1',
          'domain': 'Retail',
          'clients': [
              {
                  'name': 'acme.inc',
                  'country': 'united states'
              },
              {
                  'name': 'Wayne.co',
                  'country': 'united states'
              }
          ]
      },
      'Company 2': {
          'name': 'Company 2',
          'domain': 'Construction',
          'clients': [
              {
                  'name': 'Tesla',
                  'country': 'united states'
              },
              {
                  'name': 'Japan Airlines',
                  'country': 'japan'
              },
              {
                  'name': 'Indofood',
                  'country': 'indonesia'
              }
          ]
      },
      'Company 3': {
          'name': 'Company 3',
          'domain': 'Healthcare',
          'clients': [
              {
                  'name': 'Petronas',
                  'country': 'malaysia'
              },
              {
                  'name': 'VW Group',
                  'country': 'germany'
              },
              {
                  'name': 'IBM',
                  'country': 'united states'
              },
              {
                  'name': 'Mitsubishi',
                  'country': 'japan'
              }
          ]
      }
  }

employee_detail_list = {
      'John Doe': {
          'name': 'EMP-0001',
          'first_name': 'John',
          'last_name': 'Doe',
          'full_name': 'John Doe',
          'company': 'Company 1'
      },
      'Tom Smith': {
          'name': 'EMP-0002',
          'first_name': 'Tom',
          'last_name': 'Smith',
          'full_name': 'Tom Smith',
          'company': 'Company 2'
      },
      'Andrew Sebastian': {
          'name': 'EMP-0003',
          'first_name': 'Andrew',
          'last_name': 'Sebastian',
          'full_name': 'Andrew Sebastian',
          'company': 'Company 2'
      },
  }

# lengkapi function berikut
def sort_company():
    a = sorted((list(company_detail_list.values())), key=lambda x: x["domain"], reverse=True)
    for item in a:
        del item["clients"]
    print(a)
    pass

# lengkapi function berikut
def get_company_domain():
    for item in list(company_detail_list.values()):
        print(item["name"] + ": " + item["domain"] + ", relation: " + str(len(item["clients"])) + " clients" ) 
    pass

# lengkapi function berikut
def get_employees():
    arr = []
    for item in list(employee_detail_list.values()):
        company = company_detail_list[item["company"]]
        arr.append({
            "full_name" : item["full_name"],
            "company" : item["company"],
            "domain" : company["domain"]
        })
    return arr
    pass

# lengkapi function berikut
def get_employees_by_company():
    arr = []
    for item in list(company_detail_list.values()):
        employees = []
        for emp in get_employees():
            if emp["company"] == item["name"]:
                employees.append(emp["full_name"])
                
        arr.append({
            "company" : item["name"],
            "employees" : employees
        })
        
    print(arr)
    pass

# sort_company()
# get_company_domain()
# print(get_employees())
# Soal 4
get_employees_by_company()

[{'company': 'Company 1', 'employees': ['John Doe']}, {'company': 'Company 2', 'employees': ['Tom Smith', 'Andrew Sebastian']}, {'company': 'Company 3', 'employees': []}]

In [19]:
import pandas as pd
data_startup = pd.read_csv('50_Startups.csv')
print(data_startup.sample(7))

    R&D Spend  Administration  Marketing Spend       State     Profit
26   75328.87       144135.98        134050.07     Florida  105733.54
4   142107.34        91391.77        366168.42     Florida  166187.94
22   73994.56       122782.75        303319.26     Florida  110352.25
33   55493.95       103057.49        214634.81     Florida   96778.92
15  114523.61       122616.84        261776.23    New York  129917.04
11  100671.96        91790.61        249744.55  California  144259.40
8   120542.52       148718.95        311613.29    New York  152211.77

In [21]:
#soal pertama Lakukan analisa mengenai field mana saja yang memiliki data kosong(Nan) lalu Isi data yang kosong tersebut menggunakan nilai mean

import pandas as pd

# Membaca file CSV
data_startup = pd.read_csv('50_Startups.csv')

# Menemukan nilai kosong (NaN) untuk setiap kolom numerik
missing_values = data_startup.select_dtypes(include='number').isna().sum()
print("Jumlah data kosong (NaN) untuk setiap kolom:\n", missing_values)

# Mengisi nilai kosong dengan nilai mean untuk setiap kolom numerik
data_startup.fillna(data_startup.select_dtypes(include='number').mean(), inplace=True)

# Menampilkan data setelah diisi nilai mean
print("\nData setelah mengisi data kosong dengan nilai mean:\n", data_startup.sample(7))

Jumlah data kosong (NaN) untuk setiap kolom:
 R&D Spend          5
Administration     3
Marketing Spend    5
Profit             2
dtype: int64

Data setelah mengisi data kosong dengan nilai mean:
      R&D Spend  Administration  Marketing Spend       State     Profit
45    1000.230   124153.040000      1903.930000    New York   64926.08
29   65605.480   153032.060000    107138.380000    New York  101004.64
33   55493.950   103057.490000    214634.810000     Florida   96778.92
11  100671.960    91790.610000    249744.550000  California  144259.40
23   76788.862   105751.030000    223582.690222     Florida  108733.99
24   77044.010   122790.158298    140574.810000    New York  108552.04
30   61994.480   115641.280000     91131.240000     Florida   99937.59

In [22]:
#soal 2 lakukan oneHotEncoder ke field state

import pandas as pd

# Membaca file CSV
data_startup = pd.read_csv('50_Startups.csv')

# Melakukan one-hot encoding pada kolom 'State'
data_startup_encoded = pd.get_dummies(data_startup, columns=['State'])

# Menampilkan data setelah one-hot encoding
print("Data setelah one-hot encoding:\n", data_startup_encoded.sample(7))

Data setelah one-hot encoding:
     R&D Spend  Administration  Marketing Spend     Profit  State_California  \
42   23640.93        96189.63        148001.11   71498.49                 1
6   134615.46       147198.87        127716.82  156122.51                 1
4   142107.34        91391.77        366168.42  166187.94                 0
33   55493.95       103057.49        214634.81   96778.92                 0
1   162597.70       151377.59        443898.53  191792.06                 1
16   78013.11       121597.55        264346.06  126992.93                 1
11  100671.96        91790.61        249744.55  144259.40                 1

    State_Florida  State_New York
42              0               0
6               0               0
4               1               0
33              1               0
1               0               0
16              0               0
11              0               0

In [23]:
#soal 3 buat field baru yaitu Tax. dimana Tax = (profit + Marketing Spend + administration) * 5%

import pandas as pd

# Membaca file CSV
data_startup = pd.read_csv('50_Startups.csv')

# Membuat kolom baru 'Tax'
data_startup['Tax'] = (data_startup['Profit'] + data_startup['Marketing Spend'] + data_startup['Administration']) * 0.05

# Menampilkan data setelah menambahkan kolom 'Tax'
print("Data setelah menambahkan kolom 'Tax':\n", data_startup.sample(7))

Data setelah menambahkan kolom 'Tax':
     R&D Spend  Administration  Marketing Spend       State     Profit  \
32   63408.86       129219.61         46085.25  California   97427.84
29   65605.48       153032.06        107138.38    New York  101004.64
6   134615.46       147198.87        127716.82  California  156122.51
16   78013.11       121597.55        264346.06  California  126992.93
14  119943.24       156547.42        256512.92     Florida  132602.65
13   91992.39       135495.07        252664.93  California        NaN
12   93863.75       127320.38        249839.44     Florida  141585.52

           Tax
32  13636.6350
29  18058.7540
6   21551.9100
16  25646.8270
14  27283.1495
13         NaN
12  25937.2670

In [25]:
# Soal 4 Jalankan standardScaler field-field tersebut

import pandas as pd
from sklearn.preprocessing import StandardScaler

# Membaca file CSV
data_startup = pd.read_csv('50_Startups.csv')

# Membuat kolom baru 'Tax'
data_startup['Tax'] = (data_startup['Profit'] + data_startup['Marketing Spend'] + data_startup['Administration']) * 0.05

# Mengambil fitur-fitur yang akan di-scaling
features = data_startup.drop(['State', 'Profit'], axis=1)

# Melakukan scaling
scaler = StandardScaler()
scaled_features = scaler.fit_transform(features)

# Mengganti nilai fitur-fitur dengan nilai yang telah di-scaling
data_startup[['R&D Spend', 'Administration', 'Marketing Spend', 'Tax']] = scaled_features

# Menampilkan data setelah scaling
print("Data setelah scaling:\n", data_startup.sample(7))

Data setelah scaling:
     R&D Spend  Administration  Marketing Spend       State     Profit  \
22  -0.062152       -0.000282         0.700746     Florida  110352.25
35  -0.684508       -1.437809        -0.158760    New York   96479.51
33  -0.473651       -0.751716        -0.078636     Florida   96778.92
24   0.005675             NaN        -0.729495    New York  108552.04
9    1.035298       -0.537558         0.715355  California  149759.96
20  -0.011900       -0.339916         0.659838  California  118474.03
5    1.225293       -0.875250         1.224017    New York  156991.12

         Tax
22  0.470418
35 -0.531813
33 -0.347837
24       NaN
9   0.651307
20  0.433870
5   1.028605